.logo {
  display: flex;
  font-family: var(--secondary-font);
  @include font(24px, 700, 28px, 0.03em);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px, 0.03em);
  }
}

.logo-accent {
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--primary-white-color);
}
